#
# @填写约定
# 1. 配置项之前必须填写完整注释，配置项同行禁止填写注释，配置项中间禁止添加无效空格
# 2. 配置项值支持10、16进制两种格式数值，16进制以"0x"开始
# 3. 配置项部分成员在特定产品中不需要填写，为方便其他产品拷贝填写，禁止删除
# 4. 配置项

# 配置项：	系统E2 i2c总线地址
# 填写说明：格式 other_i2c_dev.bus_[main_dev]_[minor_dev] other_i2c_dev.addr_[main_dev]_[minor_dev],
#			.bus配置项对应总线号(/dev/i2c-bus)
#			.addr配置项对应设备在总线上的地址
# 备注：	main_dev见rg_main_dev_type_t定义，主板为0, minor_dev为0
other_i2c_dev.bus_0_0=1
other_i2c_dev.addr_0_0=0x56

# 配置项： 系统E2路径
eeprom_path_0_0=/sys/bus/i2c/devices/1-0056/eeprom

# 配置项： 系统E2大小
eeprom_size_0_0=256

# 配置项：	watchdog编号
# 填写说明：格式watchdog_id_[index]
watchdog_id_0=0

# 配置项：	watchdog设备名
# 填写说明：格式watchdog_name_[index]_[type]
watchdog_name_0_0=identity
watchdog_name_0_1=state
watchdog_name_0_2=timeleft

# 配置项：	cpld设备i2c总线地址
# 填写说明：格式cpld_i2c_dev.bus_[cpld_slot]_[cpld_id] cpld_i2c_dev.addr_[cpld_slot]_[cpld_id]
#			各产品上所有cpld编号自定义，不重复即可，编号体现在的cpld设备偏移地址的高八位
#			cpld_slot: 1:线卡1, 2:线卡2, 3:线卡3, 4:线卡4,5:风扇转接板,
#			cpld_id: 0:CPLD_A 1:CPLD_B
#			.bus配置项对应总线号(/dev/i2c-bus)
#			.addr配置项对应设备在总线上的地址
# 备注：	选填，不存在I2C访问的cpld不填写
cpld_i2c_dev.bus_0_2=2
cpld_i2c_dev.addr_0_2=0x1d
cpld_i2c_dev.bus_0_3=2
cpld_i2c_dev.addr_0_3=0x2d
cpld_i2c_dev.bus_0_4=4
cpld_i2c_dev.addr_0_4=0x3d
cpld_i2c_dev.bus_0_5=2
cpld_i2c_dev.addr_0_5=0x3d
# 配置项：	cpld设备lpc地址
# 填写说明：格式cpld_lpc_addr_[cpld_slot]_[cpld_id]
#			各产品上所有cpld编号自定义，不重复即可，编号体现在的cpld设备偏移地址的高八位
#			cpld_id: 0:X86_CPLD, 1:MAC_CPLDA, 2:MAC_CPLDB
# 备注：	选填，不存在lpc访问的cpld不填写
cpld_lpc_dev_0_0=0x700
cpld_lpc_dev_0_1=0x900

# 配置项： 板卡每片cpld的访问模式(LPC/I2C)
# 填写说明：格式mode_cpld_[cpld_slot][cpld_slot]=lpc/i2c, cpld_id为cpld编号,从0开始
# 备注：	必填
mode_cpld_0_0=lpc
mode_cpld_0_1=lpc
mode_cpld_0_2=i2c
mode_cpld_0_3=i2c
mode_cpld_0_4=i2c
mode_cpld_0_5=i2c

# 配置项：	主板CPLD数量
# 填写说明：格式 dev_num_[main_dev]_[minor_dev]
# 备注：	main_dev: 主板为0, 子卡为5, minor_dev: CPLD为8
dev_num_0_8=6

# 配置项： 每片cpld的名称
# 填写说明：格式 cpld_name_[cpld_id] cpld_id为cpld编号,从1开始
# 备注：	必填
cpld_name_0_0=CPU_CPLD
cpld_name_0_1=CONNECT_CPLDA
cpld_name_0_2=MACA_CPLD
cpld_name_0_3=MACB_CPLD
cpld_name_0_4=FAN_CPLD
cpld_name_0_5=MACC_CPLD

# 配置项： 每片cpld的型号
# 填写说明：格式 cpld_type_[cpld_id] cpld_id为cpld编号,从1开始
# 备注：	必填
cpld_type_0_0=LATTICE/LCMXO3LF-2100C-5BG256C
cpld_type_0_1=LATTICE/LCMXO3LF-2100C-5BG256C
cpld_type_0_2=LATTICE/LCMXO3LF-2100C-5BG256C
cpld_type_0_3=LATTICE/LCMXO3LF-2100C-5BG256C
cpld_type_0_4=LATTICE/LCMXO3LF-2100C-5BG256C
cpld_type_0_5=LATTICE/LCMXO3LF-2100C-5BG256C

# 配置项： 每片CPLD的版本寄存器
# 填写说明：格式 cpld_version_[cpld_id] cpld_id为cpld编号,从1开始
# 备注：	必填
cpld_version.mode_0_0=config
cpld_version.int_cons_0_0=
cpld_version.src_0_0=cpld
cpld_version.frmt_0_0=num_bytes
cpld_version.pola_0_0=
cpld_version.fpath_0_0=
cpld_version.addr_0_0=0x00000000
cpld_version.len_0_0=4
cpld_version.bit_offset_0_0=

cpld_version.mode_0_1=config
cpld_version.int_cons_0_1=
cpld_version.src_0_1=cpld
cpld_version.frmt_0_1=num_bytes
cpld_version.pola_0_1=
cpld_version.fpath_0_1=
cpld_version.addr_0_1=0x00010000
cpld_version.len_0_1=4
cpld_version.bit_offset_0_1=

cpld_version.mode_0_2=config
cpld_version.int_cons_0_2=
cpld_version.src_0_2=cpld
cpld_version.frmt_0_2=num_bytes
cpld_version.pola_0_2=
cpld_version.fpath_0_2=
cpld_version.addr_0_2=0x00020000
cpld_version.len_0_2=4
cpld_version.bit_offset_0_2=

cpld_version.mode_0_3=config
cpld_version.int_cons_0_3=
cpld_version.src_0_3=cpld
cpld_version.frmt_0_3=num_bytes
cpld_version.pola_0_3=
cpld_version.fpath_0_3=
cpld_version.addr_0_3=0x00030000
cpld_version.len_0_3=4
cpld_version.bit_offset_0_3=

cpld_version.mode_0_4=config
cpld_version.int_cons_0_4=
cpld_version.src_0_4=cpld
cpld_version.frmt_0_4=num_bytes
cpld_version.pola_0_4=
cpld_version.fpath_0_4=
cpld_version.addr_0_4=0x00040000
cpld_version.len_0_4=4
cpld_version.bit_offset_0_4=

cpld_version.mode_0_5=config
cpld_version.int_cons_0_5=
cpld_version.src_0_5=cpld
cpld_version.frmt_0_5=num_bytes
cpld_version.pola_0_5=
cpld_version.fpath_0_5=
cpld_version.addr_0_5=0x00050000
cpld_version.len_0_5=4
cpld_version.bit_offset_0_5=

# 配置项： 每片CPLD的测试寄存器
# 填写说明：格式 cpld_test_reg_[cpld_id] cpld_id为cpld编号,从1开始
# 备注：	必填
cpld_test_reg.mode_0_0=config
cpld_test_reg.int_cons_0_0=
cpld_test_reg.src_0_0=cpld
cpld_test_reg.frmt_0_0=byte
cpld_test_reg.pola_0_0=
cpld_test_reg.fpath_0_0=
cpld_test_reg.addr_0_0=0x00000005
cpld_test_reg.len_0_0=1
cpld_test_reg.bit_offset_0_0=

cpld_test_reg.mode_0_1=config
cpld_test_reg.int_cons_0_1=
cpld_test_reg.src_0_1=cpld
cpld_test_reg.frmt_0_1=byte
cpld_test_reg.pola_0_1=
cpld_test_reg.fpath_0_1=
cpld_test_reg.addr_0_1=0x00010055
cpld_test_reg.len_0_1=1
cpld_test_reg.bit_offset_0_1=

cpld_test_reg.mode_0_2=config
cpld_test_reg.int_cons_0_2=
cpld_test_reg.src_0_2=cpld
cpld_test_reg.frmt_0_2=byte
cpld_test_reg.pola_0_2=
cpld_test_reg.fpath_0_2=
cpld_test_reg.addr_0_2=0x00020055
cpld_test_reg.len_0_2=1
cpld_test_reg.bit_offset_0_2=

cpld_test_reg.mode_0_3=config
cpld_test_reg.int_cons_0_3=
cpld_test_reg.src_0_3=cpld
cpld_test_reg.frmt_0_3=byte
cpld_test_reg.pola_0_3=
cpld_test_reg.fpath_0_3=
cpld_test_reg.addr_0_3=0x00030055
cpld_test_reg.len_0_3=1
cpld_test_reg.bit_offset_0_3=

cpld_test_reg.mode_0_4=config
cpld_test_reg.int_cons_0_4=
cpld_test_reg.src_0_4=cpld
cpld_test_reg.frmt_0_4=byte
cpld_test_reg.pola_0_4=
cpld_test_reg.fpath_0_4=
cpld_test_reg.addr_0_4=0x00040055
cpld_test_reg.len_0_4=1
cpld_test_reg.bit_offset_0_4=

cpld_test_reg.mode_0_5=config
cpld_test_reg.int_cons_0_5=
cpld_test_reg.src_0_5=cpld
cpld_test_reg.frmt_0_5=byte
cpld_test_reg.pola_0_5=
cpld_test_reg.fpath_0_5=
cpld_test_reg.addr_0_5=0x00050055
cpld_test_reg.len_0_5=1
cpld_test_reg.bit_offset_0_5=

# 配置项： 每片CPLD的硬件版本寄存器
# 填写说明：格式 cpld_hw_version_[cpld_id] cpld_id为cpld编号,从1开始
# 备注：	可选
cpld_hw_version.mode_0_0=config
cpld_hw_version.int_cons_0_0=
cpld_hw_version.src_0_0=cpld
cpld_hw_version.frmt_0_0=byte
cpld_hw_version.pola_0_0=
cpld_hw_version.fpath_0_0=
cpld_hw_version.addr_0_0=0x00000004
cpld_hw_version.len_0_0=1
cpld_hw_version.bit_offset_0_0=

cpld_hw_version.mode_0_1=config
cpld_hw_version.int_cons_0_1=
cpld_hw_version.src_0_1=cpld
cpld_hw_version.frmt_0_1=byte
cpld_hw_version.pola_0_1=
cpld_hw_version.fpath_0_1=
cpld_hw_version.addr_0_1=0x00010006
cpld_hw_version.len_0_1=1
cpld_hw_version.bit_offset_0_1=

cpld_hw_version.mode_0_2=config
cpld_hw_version.int_cons_0_2=
cpld_hw_version.src_0_2=cpld
cpld_hw_version.frmt_0_2=byte
cpld_hw_version.pola_0_2=
cpld_hw_version.fpath_0_2=
cpld_hw_version.addr_0_2=0x00020006
cpld_hw_version.len_0_2=1
cpld_hw_version.bit_offset_0_2=

cpld_hw_version.mode_0_3=config
cpld_hw_version.int_cons_0_3=
cpld_hw_version.src_0_3=cpld
cpld_hw_version.frmt_0_3=byte
cpld_hw_version.pola_0_3=
cpld_hw_version.fpath_0_3=
cpld_hw_version.addr_0_3=0x00030006
cpld_hw_version.len_0_3=1
cpld_hw_version.bit_offset_0_3=

cpld_hw_version.mode_0_4=config
cpld_hw_version.int_cons_0_4=
cpld_hw_version.src_0_4=cpld
cpld_hw_version.frmt_0_4=byte
cpld_hw_version.pola_0_4=
cpld_hw_version.fpath_0_4=
cpld_hw_version.addr_0_4=0x00040006
cpld_hw_version.len_0_4=1
cpld_hw_version.bit_offset_0_4=

cpld_hw_version.mode_0_5=config
cpld_hw_version.int_cons_0_5=
cpld_hw_version.src_0_5=cpld
cpld_hw_version.frmt_0_5=byte
cpld_hw_version.pola_0_5=
cpld_hw_version.fpath_0_5=
cpld_hw_version.addr_0_5=0x00050006
cpld_hw_version.len_0_5=1
cpld_hw_version.bit_offset_0_5=
