#
# @填写约定
# 1. 配置项之前必须填写完整注释，配置项同行禁止填写注释，配置项中间禁止添加无效空格
# 2. 配置项值支持10、16进制两种格式数值，16进制以"0x"开始
# 3. 配置项部分成员在特定产品中不需要填写，为方便其他产品拷贝填写，禁止删除
# 4. 配置项

# 配置项：	LED灯CPLD寄存器地址
# 填写说明：格式 led_status_[led_id]_[led_index]
# 备注：	led_id定义 见rg_led_t
# led_index：无索引的,填0，有索引的（如风扇本体灯），编号从1开始

# 前面板SYS灯
led_status.mode_0_0=config
led_status.src_0_0=cpld
led_status.frmt_0_0=bit
led_status.addr_0_0=0x000100d2
led_status.len_0_0=3

# 配置项：	LED灯CPLD寄存器值转换为标准值
# 填写说明：格式 led_status_decode_[led_id]_[origin_value] origin_value:原始CPLD值
# led_id 同LED灯类型定义 0-前面板SYS灯
led_status_decode_0_0=0
led_status_decode_0_1=7
led_status_decode_0_2=3
led_status_decode_0_3=5
led_status_decode_0_4=1
led_status_decode_0_5=6
led_status_decode_0_6=2
led_status_decode_0_7=0

# 前面板BMC灯
led_status.mode_2_0=config
led_status.src_2_0=cpld
led_status.frmt_2_0=bit
led_status.addr_2_0=0x000100d5
led_status.len_2_0=3

led_status_decode_2_0=0
led_status_decode_2_1=7
led_status_decode_2_2=3
led_status_decode_2_3=5
led_status_decode_2_4=1
led_status_decode_2_5=6
led_status_decode_2_6=2
led_status_decode_2_7=0

# 前面板风扇灯
led_status.mode_4_0=config
led_status.src_4_0=cpld
led_status.frmt_4_0=bit
led_status.addr_4_0=0x000100d4
led_status.len_4_0=3

# 配置项：	LED灯CPLD寄存器值转换为标准值
# 填写说明：格式 led_status_decode_[led_id]_[origin_value] origin_value:原始CPLD值
# led_id 同LED灯类型定义 4-前面板风扇灯
led_status_decode_4_0=0
led_status_decode_4_1=7
led_status_decode_4_2=3
led_status_decode_4_3=5
led_status_decode_4_4=1
led_status_decode_4_5=6
led_status_decode_4_6=2
led_status_decode_4_7=0

# 前面板电源灯
led_status.mode_6_0=config
led_status.src_6_0=cpld
led_status.frmt_6_0=bit
led_status.addr_6_0=0x000100d3
led_status.len_6_0=3

# 配置项：	LED灯CPLD寄存器值转换为标准值
# 填写说明：格式 led_status_decode_[led_id]_[origin_value] origin_value:原始CPLD值
# led_id 同LED灯类型定义 6-前面板电源灯
led_status_decode_6_0=0
led_status_decode_6_1=7
led_status_decode_6_2=3
led_status_decode_6_3=5
led_status_decode_6_4=1
led_status_decode_6_5=6
led_status_decode_6_6=2
led_status_decode_6_7=0

# 风扇本体灯1
led_status.mode_10_1=config
led_status.src_10_1=cpld
led_status.frmt_10_1=bit
led_status.addr_10_1=0x000300d0
led_status.len_10_1=3

# 风扇本体灯2
led_status.mode_10_2=config
led_status.src_10_2=cpld
led_status.frmt_10_2=bit
led_status.addr_10_2=0x000700d0
led_status.len_10_2=3

# 风扇本体灯3
led_status.mode_10_3=config
led_status.src_10_3=cpld
led_status.frmt_10_3=bit
led_status.addr_10_3=0x000300d1
led_status.len_10_3=3

# 风扇本体灯4
led_status.mode_10_4=config
led_status.src_10_4=cpld
led_status.frmt_10_4=bit
led_status.addr_10_4=0x000700d1
led_status.len_10_4=3

# 风扇本体灯5
led_status.mode_10_5=config
led_status.src_10_5=cpld
led_status.frmt_10_5=bit
led_status.addr_10_5=0x000300d2
led_status.len_10_5=3

# 风扇本体灯6
led_status.mode_10_6=config
led_status.src_10_6=cpld
led_status.frmt_10_6=bit
led_status.addr_10_6=0x000700d2
led_status.len_10_6=3

# 风扇本体灯7
led_status.mode_10_7=config
led_status.src_10_7=cpld
led_status.frmt_10_7=bit
led_status.addr_10_7=0x000300d3
led_status.len_10_7=3

# 风扇本体灯8
led_status.mode_10_8=config
led_status.src_10_8=cpld
led_status.frmt_10_8=bit
led_status.addr_10_8=0x000700d3
led_status.len_10_8=3

# 配置项：	LED灯CPLD寄存器值转换为标准值
# 填写说明：格式 led_status_decode_[led_id]_[origin_value] origin_value:原始CPLD值
# led_id 同LED灯类型定义 10-风扇本体灯
led_status_decode_10_0=0
led_status_decode_10_1=7
led_status_decode_10_2=3
led_status_decode_10_3=5
led_status_decode_10_4=1
led_status_decode_10_5=6
led_status_decode_10_6=2
led_status_decode_10_7=0

# 前面板定位灯
led_status.mode_8_0=config
led_status.src_8_0=cpld
led_status.frmt_8_0=bit
led_status.addr_8_0=0x000100d0
led_status.len_8_0=1

# 配置项：	LED灯CPLD寄存器值转换为标准值
# 填写说明：格式 led_status_decode_[led_id]_[origin_value] origin_value:原始CPLD值
# led_id 同LED灯类型定义 8-前面板定位灯
led_status_decode_8_0=0
led_status_decode_8_1=4
