#
# @填写约定
# 1. 配置项之前必须填写完整注释，配置项同行禁止填写注释，配置项中间禁止添加无效空格
# 2. 配置项值支持10、16进制两种格式数值，16进制以"0x"开始
# 3. 配置项部分成员在特定产品中不需要填写，为方便其他产品拷贝填写，禁止删除
# 4. 配置项


# 配置项：	主板FPGA数量
# 填写说明：格式 dev_num_[main_dev]_[minor_dev]
# 备注：	main_dev: 主板为0, 子卡为5, minor_dev: FPGA为8
dev_num_0_9=2

# 配置项： 每片fpga的名称
# 填写说明：格式 fpga_name_[fpga_id] fpga_id为fpga编号,从0开始
# 备注：	必填
fpga_name_0_0=MAC_FPGA
fpga_name_0_1=PORT_FPGA


# 配置项： 每片FPGA的版本寄存器
# 填写说明：格式 fpga_version_[fpga_id] fpga_id为fpga编号,从0开始
# 备注：	必填
fpga_version.mode_0_0=config
fpga_version.int_cons_0_0=
fpga_version.src_0_0=file
fpga_version.frmt_0_0=num_bytes
fpga_version.pola_0_0=negative
fpga_version.fpath_0_0=/dev/fpga0
fpga_version.addr_0_0=0x0
fpga_version.len_0_0=4
fpga_version.bit_offset_0_0=

fpga_version.mode_0_1=config
fpga_version.int_cons_0_1=
fpga_version.src_0_1=file
fpga_version.frmt_0_1=num_bytes
fpga_version.pola_0_1=negative
fpga_version.fpath_0_1=/dev/fpga1
fpga_version.addr_0_1=0x0
fpga_version.len_0_1=4
fpga_version.bit_offset_0_1=


# 配置项： 每片FPGA的测试寄存器
# 填写说明：格式 fpga_test_reg_[fpga_id] fpga_id为fpga编号,从0开始
# 备注：	必填
fpga_test_reg.mode_0_0=config
fpga_test_reg.int_cons_0_0=
fpga_test_reg.src_0_0=file
fpga_test_reg.frmt_0_0=num_bytes
fpga_test_reg.pola_0_0=negative
fpga_test_reg.fpath_0_0=/dev/fpga0
fpga_test_reg.addr_0_0=0x08
fpga_test_reg.len_0_0=4
fpga_test_reg.bit_offset_0_0=

fpga_test_reg.mode_0_1=config
fpga_test_reg.int_cons_0_1=
fpga_test_reg.src_0_1=file
fpga_test_reg.frmt_0_1=num_bytes
fpga_test_reg.pola_0_1=negative
fpga_test_reg.fpath_0_1=/dev/fpga1
fpga_test_reg.addr_0_1=0x08
fpga_test_reg.len_0_1=4
fpga_test_reg.bit_offset_0_1=


# 配置项： 每片FPGA的器件型号寄存器
# 填写说明：格式 fpga_model_reg_[main_dev]_[fpga_id]
# 备注：main_dev: 主板为0, 子卡为5, fpga_id为fpga编号,从0开始
fpga_model_reg.mode_0_0=config
fpga_model_reg.int_cons_0_0=
fpga_model_reg.src_0_0=file
fpga_model_reg.frmt_0_0=num_bytes
fpga_model_reg.pola_0_0=negative
fpga_model_reg.fpath_0_0=/dev/fpga0
fpga_model_reg.addr_0_0=0x98
fpga_model_reg.len_0_0=4
fpga_model_reg.bit_offset_0_0=

fpga_model_reg.mode_0_1=config
fpga_model_reg.int_cons_0_1=
fpga_model_reg.src_0_1=file
fpga_model_reg.frmt_0_1=num_bytes
fpga_model_reg.pola_0_1=negative
fpga_model_reg.fpath_0_1=/dev/fpga1
fpga_model_reg.addr_0_1=0x98
fpga_model_reg.len_0_1=4
fpga_model_reg.bit_offset_0_1=


# 配置项： 每片FPGA的器件转换配置
# 填写说明：格式 fpga_model_decode_[origin_value]
# 备注：origin_value为从FPGA器件型号寄存器读取到的值,限制不能超过0xffff
fpga_model_decode_0x0=XC7A50T-2FGG484I
fpga_model_decode_0x1=XC7A50T-2FGG484I
